.hidden {
    opacity: 0;
    transform: translateY(70px);
    transition: 0.2s, opacity ease-in-out 0.5s, transform ease-in-out 0.5s;
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
.show {
    opacity: 1;
    transform: translateX(0);
}

  /* Track */
  ::-webkit-scrollbar-track {
    background: #c9c9c9; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(84, 84, 84);
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(108, 108, 108); 
  }

  /* ===== Scrollbar CSS ===== */

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 18px;
  }

  *::-webkit-scrollbar-track {
    background: #eeeeee;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 4.7px solid #eeeeee;
  }

