h2 {
    font-size: 3.8ch;
    line-height: 2ch;
    margin-left: 0;
    margin-top: 0.8ch;
    margin-bottom: 0.6ch;
    position: relative;
    left: -0.1ch;
    color: rgb(54, 54, 54);
    font-family: 'DM Serif Text', Serif;
    font-weight: 500!important;
    /* letter-spacing: 0px!important; */
    font-style: italic;
    font-size: 4.2ch;
}
h3 {
    font-size: 1.2ch!important;
}
/* NAV BAR THING */
.right-btn {
    margin-right: 10px;
}
@media only screen and (max-width: 900px) {
    .right-btn {
        margin-left: 10px;
        margin-right: 10px!important;
    }
}
.WORKS-container .scroll, .nav-bar ul li a, .WORKS-container, .logo-container, .footer p{
    color: rgb(54, 54, 54)!important;
}
.hamburger-line {
    background-color: rgb(54, 54, 54)!important;
}
.item {
    min-width: 60vw;
}
section {
    margin-bottom: 4rem;
}
.description {
    padding-left: 0;
    color: rgb(54, 54, 54);
    line-height: 3ch;
    font-family: roboto, arial;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 2rem;
    letter-spacing: 0.05ch;
    font-size: 1.6ch;
}
#user-testing ul {
    margin-top: -1rem;
}
.content {
    padding-top: 4.5ch;
    padding-left: 23vw;
    padding-right: 23vw;
}

.button {
    margin-top: 0;
    margin-bottom: 2rem!important;
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: rgb(54, 54, 54);
    border-color: rgb(54, 54, 54);
}

.persona {
    background-size: contain;
    background-position: left;
    background-position: top;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue; */
}

.paper-drawing {
    /* width: 65vw; */
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.description {
    list-style-type: circle;
    line-height: 3ch;
    font-family: roboto, arial;
    font-weight: 400;
    color: rgb(54, 54, 54);
    align-items: left!important;
    justify-content: left!important;
    text-align: left!important;
}
.description li {
    align-items: left!important;
    justify-content: left!important;
    text-align: left!important;
}

strong {
    position: relative;
    left: 0;
}
.body-change {
    text-align: left!important;
    margin-left: 0;
}

.bold {
    font-weight: bold;
    margin-bottom: 0;
}
.change {
    display: flex;
    align-items: center;
    column-gap: 4rem;
    margin-top: 0;
    margin-bottom: 4rem;
}
.flip {
    flex-direction: row-reverse;
}
.design-system {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    height: 50vw;
    width: auto;
}
.final-mockups {
    display: grid;
    gap: 2rem;
    margin: 2rem 0;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 1rem; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.mockup-pic {
    width: 100%;
    margin: 0;
    /* margin-left: 0; */
}
.footer {
    margin-top: 0!important;
}
.web-mockups {
    margin-bottom: 4rem;
}

@media only screen and (min-width: 2000px) {
    .content {
        max-width: 1300px;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
    }
    h2 {
        font-size: 4.3ch;
    }
    h3 {
        font-size: 1.4ch!important;
    }
    .arrow {
        font-size: 2vw;
    }
    .description {
        font-size: 2ch;
    }
    /* .persona {
        max-width: 1300px;
        max-height: 666px;
    } */
    .paper-drawing {
        max-width: 1300px;
    }
    .mockup {
        max-width: 250px;
    }
    .unio-final {
        /* max-width: 1300px; */
        width: 100%;
    }
    .design-system {
        max-width: 1000px;
        height: auto;
    }
    .mockup-pic {
        max-width: 250px;
        margin: 2rem;
    }
    .mockup-pic-2 {
        max-width: 650px;
        height: auto;
    }
}
@media (max-width: 1000px) {
    .change {
        display: block;
        padding: 0;
    }
}
@media (max-width: 700px) {
    .design-system {
        width: 60vw;
        height: auto;
    }
    .final-mockups {
        grid-template-columns: 1fr 1fr;  
    }
    h2 {
        font-size: 3ch;
        line-height: 2.2ch;
        font-size: 3.3ch;
        /* line-height: 1.8ch; */
    }
    
    .content {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .item {
        align-items: left!important;
        justify-content: left!important;
        text-align: left!important;
        margin-left: 16px;
    }
    /* .persona {
        width: 72vw!important;
    } */
    /* .paper-drawing {
        width: 75vw!important;
    } */
    .description {
        font-size: 1.7ch;
    }
    .first, .second {
        margin-left: 0;
    }
    .leftside, .rightside {
        margin-right: 0;
        margin-left: 0;
    }
}
@media (max-width:1000px) {
    .final-mockups {
        grid-template-columns: 1fr 1fr;  
    }
}
@media (min-width: 500px) {
    html {
        margin: 0;
        height: auto;
        overflow-x: hidden;
        overflow-y: overlay;
      }
    
    body {
        position:absolute;
        height: auto;
        overflow: visible;
    }

    
    *::-webkit-scrollbar {
        width: 15px;
        overflow-y: overlay;
    }
    


    ::-webkit-scrollbar-thumb:hover {
        background: rgba(73, 73, 73, 0.663);
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgba(156, 156, 156, 0.773);
    }   
}


/* NAV BAR */
.dropdown {
    transition: height 5s; 
    margin-bottom: 0vh;
    text-align: left;
}
.left {
    text-align: left;
}
.drop-button {
    margin: 0;
    margin-bottom: 10px;
    z-index: 1;
}
.dropdown-content {
    display: block;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    top: 0;
    overflow: hidden;
    font-weight: 400;
    transition: opacity 0.5s, transform 0.5s;
    /* animation: fadeIn 0.5s 0s 1; */
    background-color: rgb(41, 41, 41);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.434);
    border: none;
    border-radius: 0.3em;
    border-top-left-radius: 0;
    z-index: 10;
    margin-bottom: 3vh;
    padding-top: 0.6ch;
    padding-bottom: 0.6ch;
    transform: translateY(0);
    transition: opacity 0.3s, transform 0.5s;
}
.drop-button:hover {
    cursor: pointer;
}
.drop-button:hover .dropdown-content {
    display: block;
    pointer-events: all;
    transform: translateY(3ch);
    /* top: calc(30px + 2.4ch); */
    transition: opacity 0.7s, transform 0.5s;
    /* animation: fadeIn 0.5s 0s 1; */
    opacity: 1;
}
.margins .removepad {
    top: 3ch;
    transform: translateY(0);
}
.margins:hover .removepad {
    transform: translateY(3ch);
}
.center {
    text-align: center;
}
.nav-bar ul li .list-item {
    min-width: 10ch;
    padding: 1em 2em;
    color: rgba(255, 255, 255, 0.692)!important;
    font-weight: 300;
}
@media only screen and (min-width: 900px){
    .list-item {
        position: relative;
    }
}
.nav-bar ul li .list-item:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.595);
    transition: 0.2s;
}
@keyframes fadeIn {
    0% {opacity: 0; transform: translateY(-30px);}
    100% {opacity: 1; transform: translateY(0px);}
}
@keyframes fadeOut {
    0% {opacity: 1; transform: translateY(0px);}
}
.drop-button {
    padding: 0.3em 0;
    margin-bottom: 0;
}
/* .margins:hover {
    margin-right: calc(2rem - 1.88ch);
} */
@media only screen and (max-width: 900px) {
    .drop-button {
        margin-bottom: 6vh;
        z-index: 10;
    }
    .dropdown {
        margin-bottom: 0;
    }
    .drop-button:hover .removepad {
        top: 3ch;
    }
    .margins:hover {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .drop-button {
        font-size: 2.5vh;
    }
    .margins .dropdown-content {
        position: relative;
        font-weight: 400;
        margin-bottom: 1ch;
        display: none;
    }
    .dropdown:hover .drop-button {
        margin-bottom: 0;
    }
    .drop-button:hover .dropdown-content {
        font-size: large;
        top: 0;
        transform: translateY(0);
        background-color: rgba(255, 255, 255, 0);
        /* transform: translateY(calc(30px+2.4ch)); */
    }
    .margins .dropdown-content .list-item {
        color: rgba(0, 0, 0, 0.626)!important;
        margin-top: 0.5ch;
        padding: 0.5em;
        font-weight: 400;
    }
    .margins .dropdown-content .list-item:hover {
        background-color: rgba(255, 255, 255, 0)!important;
    }
    /* .drop-button:hover {
        margin-bottom: 1vh;
    } */
    .margins:hover .dropdown-content{
        box-shadow: none;
        top: 0;
        margin: 0;
        padding: 0;
        /* background-color: rgba(255, 255, 255, 0); */
        margin-bottom: 2vh;
    }
    .margins:hover .dropdown-content .list-item {
        margin-bottom: 0;
    }
    .dropdown {
        text-align: center;
    }
}

/* Skeleton */
.skeleton {
    animation: skeleton-color 1s linear infinite alternate;
}

@keyframes skeleton-color {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 90%);
    }
}
/* ACTIVE NAV */
.hover-underline-animation:after, .visible:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1em;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after, .visible:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
/* Header change */
@media only screen and (min-width: 900px) {
    .header-bar {
        padding-top: 20px;
        padding-bottom: 20px!important;
    }
    .right-btn {
        margin-right: 4rem;
    }
    .logo {
        margin-left: 4rem;
    }
}

/* Nav to other projects */

#next-up .button {
    margin:0;
    margin-bottom: 0;
    width: fit-content;
}
#next-up h3, #next-up .description {
    /* color: #9e3435; */
    border-top: 1px solid #B8B8B8;
    padding-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between!important;
    align-items: flex-start;   
}
#next-up strong {
    font-weight: 500;
}
#next-up .description strong:hover {
    text-decoration: underline;
}
.description a {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 0!important;
}

/* Updated persona */
.bio {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}
.basic-info {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}
.persona-pic {
    width: 100px;
}
.title {
    font-size: 2ch;
}
.age {
    font-size: 1.5ch;
    color: gray;
}
ol {
    width: fit-content;
    padding-left: 0;
    margin-top: 1rem!important;
    margin-right: 0!important;

}
ol .item{
    width: calc(100% - 32px);
    text-align: left;
    min-width: 0;
}
.item {
    margin-left: 32px;
}
@media (min-width:900px) {
    .persona-card {
        display: flex;
        width: 100%;
        gap: 3rem;
        margin-bottom: 0;
    }
    .bio, .information {
        width: 50%;
    }
    .bottom {  
        margin-bottom: 0!important;
    }
    .item{
        width: calc(100% - 32px);
        text-align: left;
        min-width: 0;
    }
}
@media only screen and (min-width: 2000px) {
    .title {
        font-size: 2.5ch;
    }
    .age {
        font-size: 1.8ch;
    }
    
}
