h1 {
    font-size: 3.8ch;
    line-height: 2ch;
    margin-left: 0;
    margin-top: 0.8ch;
    margin-bottom: 0.6ch;
    position: relative;
    left: -0.1ch;
    color: rgb(54, 54, 54);
}
.item {
    min-width: 60vw;
}
section {
    margin-bottom: 5rem;
}
.description {
    padding-left: 0;
    color: rgb(54, 54, 54);
    line-height: 3ch;
    font-family: roboto, arial;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 2rem;
    letter-spacing: 0.05ch;
    font-size: 1.7ch;
}
#user-testing ul {
    margin-top: -1rem;
}
.content {
    padding-top: 4.5ch;
    padding-left: 18vw;
    padding-right: 18vw;
}

.button {
    margin-top: 0;
    margin-bottom: 2rem!important;
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: rgb(54, 54, 54);
    border-color: rgb(54, 54, 54);
}

.persona {
    background-size: contain;
    background-position: left;
    background-position: top;
    width: 60vw;
    height: 40vw;
    margin-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paper-drawing {
    /* width: 65vw; */
    width: 62vw;
    height: auto;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.description {
    list-style-type: circle;
    line-height: 3ch;
    font-family: roboto, arial;
    font-weight: 400;
    color: rgb(54, 54, 54);
    align-items: left!important;
    justify-content: left!important;
    text-align: left!important;
}
.description li {
    align-items: left!important;
    justify-content: left!important;
    text-align: left!important;
}

strong {
    position: relative;
    left: 0;
}
.body-change {
    text-align: left!important;
    margin-left: 0;
}

.bold {
    font-weight: bold;
}
.change {
    display: flex;
    align-items: center;
    column-gap: 4rem;
    margin-top: 0;
    margin-bottom: 4rem;
}
.flip {
    flex-direction: row-reverse;
}
.design-system {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    height: 50vw;
    width: auto;
}
.final-mockups {
    display: grid;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.mockup-pic {
    width: 13vw;
    margin: 1rem;
    /* margin-left: 0; */
}
.footer {
    margin-top: 0!important;
}
.web-mockups {
    margin-bottom: 4rem;
}
@media (max-width: 1000px) {
    .change {
        display: block;
        padding: 0;
    }
}
@media (max-width: 700px) {
    .design-system {
        width: 60vw;
        height: auto;
    }
    .final-mockups {
        grid-template-columns: 1fr 1fr;  
    }
    h1 {
        font-size: 3ch;
        line-height: 2ch;
    }
    .mockup-pic {
        width: 30vw;
        margin: 1rem;
    }
    .content {
        padding-left: 13vw;
        padding-right: 13vw;
    }
    .item {
        align-items: left!important;
        justify-content: left!important;
        text-align: left!important;
    }
    .persona {
        width: 72vw!important;
    }
    .paper-drawing {
        width: 75vw!important;
    }
    .first, .second {
        margin-left: 0;
    }
    .leftside, .rightside {
        margin-right: 0;
        margin-left: 0;
    }
}
@media (min-width: 500px) {
    html {
        /* background-color: rgb(232, 10, 10); */
        margin: 0;
        height: auto;
        /* overflow: auto;  */
        overflow-x: hidden;
        overflow-y: overlay;
      }
    
      body {
        position:absolute;
        height: auto;
        overflow: visible;
      }
    
      
      *::-webkit-scrollbar {
        width: 15px;
        overflow-y: overlay;
      }
      
    
    
      ::-webkit-scrollbar-thumb:hover {
        background: rgba(73, 73, 73, 0.663);
      }
      
      ::-webkit-scrollbar-thumb {
        background: rgba(120, 120, 120, 0.773);
      }   
}