html {
    scroll-behavior: smooth;
    transition: 1s ease;
}

::selection {
    background-color: rgba(107, 119, 150, 0.527) ;
}

@keyframes enter {
	0% {
        transform-origin: top;
		-webkit-transform: scale(1.2);
		-ms-transform:     scale(1.2);
		transform:         scale(1.2);
        filter: blur(1.5rem);
        -webkit-filter: blur(1.5rem);
        -ms-filter: blur(1.5rem);
	}
	100% {
		-webkit-transform: scale(1);
		-ms-transform:     scale(1);
		transform:         scale(1);
	}
}
.landing-page {
    animation-name: enter;
    animation-duration: 1s;
    animation-delay: 3s;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    position: relative;

}
.remove {
    animation: none!important;
}
.blob {
    width: 100vw;
    height: 105vh;
    object-fit: cover;
    min-width: 120%;
    min-height: 120%;
    filter: blur(3vw);
}
.scroll {
    margin: auto;
    /* margin-top: 10vh; */
    margin-bottom: 0;
    margin-top: 0;
    /* width: 70px;
    height: 70px; */
    display: flex;
    font-size: 1.4em;
    display: flex!important;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #33506B; */
    border-radius: 40px;
    scroll-behavior: smooth;
}
.scroll-section {
    cursor: pointer;
    display: flex;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    transform: translateY(0);
    transition: 0.3s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
	0%, 100% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0);
        transition: 0.3s;
        transform-origin: top;
	}
	40% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px);
        transition: 0.3s;
        transform-origin: top;
	}
}
.scroll-section {
    transition: 0.3s;
    animation-name: bounce;
    -moz-animation-name: bounce;
}
/* .scroll-section:hover {
    transition: 0.3s;
    animation-name: none;
    -moz-animation-name: none;
} */
.label {
    font-weight: 300;
    font-size: 1em;
}
.hero-text div {
    align-items: center;
}
body {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: Lexend, Arial, Helvetica, sans-serif;
}
.hero-text {
    top: 60px;
    height: calc(100vh - 60px);

}
.greeting {
    margin-bottom: 0px;
    font-size: 25px;
    margin-left: 15vw;
    font-weight: 400;
    letter-spacing: 1px;
    /* width: auto; */
    animation: typing 2s steps(23), blink .5s step-end infinite alternate;
    animation: blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: roboto mono, monospace;
}
@media only screen and (min-width: 2000px) {
    .greeting {
        font-size: 2em;
    }
    
}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.header-bar {
    font-weight: 400;
    animation-name: enter;
    animation-duration: 1s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.507);
    border-bottom-color: rgba(2, 2, 2, 0.19);
}
.right-btn {
    margin-right: 10px;
    margin-left: 10px;
}
.scroll-works {
    margin: none;
    margin-top: 0;
    padding-top: 0;
}
.blob-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow:hidden;
}
@media only screen and (max-width: 420px) {
    .blob-phone {
        display: block;
        height: 100vh;
        transform: rotate(90deg) scale(0.8);
        transform-origin: 60% 70%;
        /* transform: scale(0.3); */
        filter: blur(3vw);
    }
}
@media only screen and (min-width: 420px) {
    .blob-phone {
        display: none;
    }    
}

.hero-text {
    position: absolute;
    z-index: 2;
    color: #33506B;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}
.intro {
    font-size: 3vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 2vw;
    font-weight: 400;
    text-align: left;
    line-height: 4vw;
    transform: scale(1);
    -webkit-transform: scale(1);
    animation: slide-in 1.5s 2.5s; 
    -webkit-animation: slide-in 1.5s 2.5s; 
}
@media only screen and (min-width: 2500px) {
    .intro {
        font-size: 2.5vw;
        margin-left: 25vw;
        margin-right: 25vw;
        margin-top: 2vw;
    }
}
@media only screen and (max-width:1000px) {
    .intro {
        font-size: 4vw;
        margin-top: 30px;
        font-weight: 400;
        line-height: 6vw;
    }
    .greeting{
        font-size: 1em;
    }
    .scroll {
        height: 50px;
        width: 50px;
        font-size: 1em;
    }
}


@media only screen and (max-width:700px) {
    .intro {
        font-size: 5vw;
        margin-top: 30px;
        font-weight: 400;
        line-height: 7vw;
        transform: scale(1);
    }
    .greeting{
        font-size: 1em;
    }
}
@media only screen and (max-width:600px) {
    .intro {
        font-size: 6vw;
        margin-top: 30px;
        font-weight: 400;
        line-height: 8vw;
        transform: scale(1);
    }
    .greeting{
        font-size: 1em;
    }
}
@media only screen and (max-width:400px) {
    .intro {
        font-size: 6.2vw;
        margin-top: 20px;
        font-weight: 400;
        line-height: 9.5vw;
        margin-left: 12vw;
        margin-right: 12vw;
    }
    .greeting{
        font-size: 0.9em;
        margin-left: 13vw;
        margin-right: 13vw;
    }
    .scroll {
        border-width: 2px;
        /* margin-top: 5vh; */
        margin-bottom: 10vh;
    }
    .scroll-section {
        margin-top: 6vh;
    }
    .label {
        margin-bottom: 0;
    }
    .blob {
        filter:blur(2vw);
        transform: scale(1.5);
        opacity: 0.9;
    }
}
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6vh;
    margin-bottom: 10vh;
    animation-name: enter;
    animation-duration: 1s;
    animation-delay: 3s;
    transform-origin: top;
}
.view-works {
    margin-bottom: 6vh;
    font-size: 2rem;
}

.card-grid {
    /* width: 100vw; */
    /* transform: scale(0.8); */
    transform-origin: top;
    column-gap: 3rem;
    /* height: 100vh; */
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: calc(3rem + 15px);
}
.card {
    width: calc(368px*0.8);
    display: block;
    position: relative;
    top: 0;
}
@media only screen and (min-width: 1300px) and (max-width:2000px) {
    .card:nth-child(2) {
        transition-delay: 0.1s;
    }
    .card:nth-child(3) {
        transition-delay: 0.2s;
    }
    .card:nth-child(4) {
        transition-delay: 0s;
    }
    .card:nth-child(5) {
        transition-delay: 0.1s;
    }
}

@media only screen and (min-width: 420px) {
    .card:hover {
        top:-8px;
        transition: 0.3s;
    }   
}
@media only screen and (max-width: 1100px) {
    .card-grid {
        grid-template-columns: 1fr 1fr;
    }
    .card:nth-child(2) {
        transition-delay: 0.1s;
    }
    .card:nth-child(3) {
        transition-delay: 0s;
    }
    .card:nth-child(4) {
        transition-delay: 0.1s;
    }
    .card:nth-child(5) {
        transition-delay: 0s;
    }
}
@media only screen and (max-width: 800px) {
    .card-grid {
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }
    .projects {
        height: auto;
    }
}


@media only screen and (min-width:2000px) {
    .hero-text {
        width: 90vw;
        transform: scale(0.9);
        transform-origin: center;
    }
    .greeting{
        font-size: 1.5em;
    }
    .card-grid {
        column-gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .view-works {
        font-size: 2rem;
    }
    #works {
        margin-bottom: 10vh;
        position: relative;
    }
    /* .projects {
        margin-bottom: 30vh;
    } */
}
@media only screen and (min-width:2500px) {
    .card-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .projects {
        margin-bottom: 17vh;
    }
    .scroll {
        height: 120px;
        width: 120px;
        border-radius: 70px;
        border-width: 3px;
    }
    .card:nth-child(2) {
        transition-delay: 0.1s;
    }
    .card:nth-child(3) {
        transition-delay: 0.2s;
    }
    .card:nth-child(4) {
        transition-delay: 0.3s;
    }
    .card:nth-child(5) {
        transition-delay: 0.4s;
    }
}
@media only screen and (min-width:3500px) {
    .card-grid {
    }
    .view-works {
        margin-bottom: 5vh;
    }
}

.poster {
    font-family: lexend, arial, sans-serif;
    width: calc(368px*0.8);
    height: calc(413px*0.8);
    margin-bottom: 10px;
    background-color: blue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    pointer-events: none;
    /* border: 1px solid rgba(0, 0, 0, 0.107); */
}
.unio {
    background: linear-gradient(214.11deg, #CDC5FF 0%, rgba(115, 101, 203, 0) 172.47%), #7365CB;
}
.pega {
    background: linear-gradient(213.8deg, #A2B0E1 1.74%, rgba(162, 176, 225, 0) 129.48%), #3F508B;
}
.cinema {
    background: linear-gradient(216.37deg, #FFC3CE 2.87%, rgba(255, 174, 188, 0) 172.72%), #C95959;
}
.mychinatown {
    background: linear-gradient(196.56deg, #FBDEA7 21.79%, rgba(254, 203, 106, 0) 137.92%), #eeb543;
}
.medtime {
    background: linear-gradient(212.04deg, #AAEFFF 2.65%, rgba(150, 223, 239, 0) 90.36%), #72D4EB;
}
.title {
    display: grid;
    column-gap: 0;
    grid-template-columns: calc(71px*0.8) 1fr;
    align-items: center;
    margin-bottom: 0;
}
.project-name {
    font-size: calc(35px*0.8);
    font-weight: 500;
    font-family: lexend, arial, sans-serif;
}
.purpose {
    font-size: calc(20px*0.8);
    font-weight: 400;
    font-family: lexend, arial, sans-serif;
    margin-top: 0;
    line-height: calc(0.8*31px);
}
.phone {
    object-fit: contain;
    width: calc(278px*0.8);
}
.icon {
    margin-right: 0;
    padding-right: 0;
    width: calc(48px*0.8);
    border-radius: 9px;
}
.card .description {
    margin-bottom: -15px;
}
.footer {
    background-color: white;
    color: black;
    font-weight: 400;
    border-top: solid rgba(0, 0, 0, 0.277) 1px;
}
.footer p {
    margin-block-start: 0;
    margin-block-end: 0;
}
@media only screen and (max-width: 550px) {
    .footer p {
        width: 45vw;
        text-align: center;
        line-height: 2em;
        padding: 2.5rem 0;
    }
}

.introduction {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(15, 15, 15);
    background-color: rgba(255, 255, 255, 0.579);
    transition: 1s;
    backdrop-filter: blur(100px);
    -ms-backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}
.logo-header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logoo {
    display: block;
    opacity: 0;
    top: 0;
    /* margin: 0.5rem; */
    font-size: 1.3ch;
    letter-spacing: 0.08ch;
    filter: blur(3px);
    line-height: 1.5ch;
    color: rgba(255, 255, 255, 0.553);
    color: #33506B;
}
.word1 {
    position: relative;
    left: 30px;
    bottom: 0;
    margin-bottom: 0;
    font-weight: 600;
}
.word2 {
    position: relative;
    left: 50px;
    bottom: 0;
    font-weight: 300;
}
.logoo.active {
    left: 0;
    opacity: 1;
    transition: ease-in-out 0.7s;
    filter: blur(0);
}
.logoo.fade {
    opacity: 0;
    transition: ease-in-out 0.5s;
}
.word1.fade {
    top: -150px;
    left: 0;
    filter: blur(3px);
}
.word2.fade {
    top: -150px;
    left: 0;
    filter: blur(3px);
}

.line {
    height: 80px;
    overflow:hidden;
}

.line-inner {
    transform: translateY(100%);
}

/*
* demo
*/
body {
    /* padding: 4em; */
}

button {
    background-color: #1862A7;
    color:white;
    border:0;
    padding: 2em;
    
    
}
            
/* New Header Text */
.hero-text {
    display: flex;
    justify-items: center;
    max-width: 1900px;
    margin-left: 0;
}
.intro-desc, .hello {
    /* width: 100%; */
    margin-left: 20vw;
    margin-right: 20vw;
}
.hello {
    font-size: 4em;
    line-height: 1em;
    margin-top: 0;
    font-weight: 700;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.2em;
}
.intro-desc {
    font-size: 2em;
    line-height: 1.4em;
    margin-top: 5px;
    font-weight: 400;
}
.hero-text {
    /* background-color: rgba(255, 192, 203, 0.681); */
    top: calc(70px + 1.3em);
}
@media only screen and (min-width: 2300px) {
    .intro-desc, .hello {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 1200px) {
    .scroll-section {
        margin-top: 0vh;
    }
}
@media only screen and (max-width: 1000px) {
    .intro-desc, .hello {
        /* width: 100%; */
        margin-left: 15vw;
        margin-right: 15vw; 
    }
    .hello {
        font-size: 3.8em;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 700;
    }
    .intro-desc {
        font-size: 1.5em;
    }
    .scroll-section {
        margin-top: 13vh;
    }
}
@media only screen and (max-width: 750px) {
    .intro-desc, .hello {
        /* width: 100%; */
        margin-left: 10vw;
        margin-right: 10vw; 
    }
    .hello {
        font-size: 3.5em;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 700;
    }
    .intro-desc {
        font-size: 1.3em;
    }
}
.hero-text {
    height: calc(100vh - 70px - 1.3em);
}
@media only screen and (min-width: 2300px) {
    .intro-desc, .hello {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 1000px) {
    .intro-desc, .hello {
        /* width: 100%; */
        margin-left: 15vw;
        margin-right: 15vw; 
    }
    .hello {
        font-size: 3.8em;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 700;
    }
    .intro-desc {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 750px) {
    .intro-desc, .hello {
        /* width: 100%; */
        margin-left: 10vw;
        margin-right: 10vw; 
    }
    .hello {
        font-size: 3.5em;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 700;
    }
    .intro-desc {
        font-size: 1.3em;
    }
}
.go-to-works {
    position: absolute;
    z-index: 30;
    right: 0;
    bottom: 0;
    column-gap: 15px;
    display: flex;
    flex-direction: row-reverse;
    margin: 5vw;
    align-items: center;
    color: #33506B;
}
.label, .scroll {
    margin-top: 0!important;
    width: auto;
    height: auto;
    margin-bottom: 0!important;
}
.landing-page {
    height: -webkit-fill-available;
}

.scroll {
    margin-bottom: 0;
}
@media only screen and (min-width: 2000px) {
    .go-to-works {
        margin-right: 20vw;
    }
}
@media only screen and (max-width: 900px) {
    .landing-page {
        height: 100vh;
        max-height: -webkit-fill-available;
    }
    .go-to-works {
        height: auto;
    }

    .hero-text {
        top: 60px;
    }
}