.hamburger {
    display: none;
    padding: 10px;
    position: relative;
    top: -10px;
    right: -10px;
}
.header-bar {
    padding-bottom: 30px!important;
}
header {
    transition: top ease-in 0.3s;
}
.nav-up {
    top: -200px;
}
.logo {
    color: black;
    font-family: 'DM Serif Text', Serif!important;
    transform: scale(1.2);
    font-style: italic;
    transform-origin: bottom;
}
@media only screen and (min-width: 2000px) {
    .header-bar {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}
@media only screen and (max-width: 600px) {
    .logo {
        max-width: 5ch;
        line-height: 20px;
        margin-top: -15px;
    }
}
@media only screen and (max-width: 900px) {
    .header-bar {
        padding: 35px;
        padding-bottom: 15px!important;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        background-color: black;
        margin-bottom: 6px;
        height: 2px;
        border: none;
        border-radius: 1px;
    }
    .one {
        position: relative;
        width: 16px;
        transition: transform 0.5s, width 0.5s;
        transform: rotate(0), translateY(0);
    }
    .two {
        width: 25px;
        transition: transform 0.4s, opacity 0.3s;
    }
    .three {
        width: 16px;
        margin-left: 9px;
        transition: transform 0.5s, width 0.5s;
        transform: rotate(0);
    }
    .hamburger.active .two{
        /* display: none;*/
        transition: 0.3s;
        opacity: 0;
        transform: translateX(-10px);
    }
    .hamburger.active .one, .hamburger.active .three{
        width: 25px;
        /* margin-left: 0; */
        transition: transform 0.3s;
    }
    .hamburger.active .one {
        transform: rotate(45deg) translate(3.4px, 8px);
        transform-origin: center;
        position: relative;
        /* top: 8.8px; */
        transition: transform 0.5s, width 0.5s;
    }
    .hamburger.active .three {
        transform: rotate(-45deg) translate(-3.1px, -14.2px);
        transform-origin: center;
        position: relative;
        transition: transform 0.5s, width 0.5s;
    }
    
    .nav-bar {
        z-index: -1;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 33vh auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar ul li a {
        margin-bottom: 6vh;
        font-size: 2.5vh;
    }
    .nav-bar.black {
        background-color: white;
    }
    .nav-bar.active {
        height: 100vh;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
}