#WORKS {
    display: block;
}
html {
    scroll-behavior: smooth;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 66vh;
}
.h1 {
    z-index: 200;
    font-size: 2rem;
    padding: 0;
    padding-top: 19vh;
    margin: 0;
    line-height: 2rem;
    min-width: 13ch;
    color: white;
    font-family: Roboto Mono, Arial;
    position: absolute;
}


.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
    transform: scale(0.7);
    transform-origin:top;
    position: absolute;
    margin-top: calc(24vh + 2rem);
}

@media (min-width:2400px) and (max-width: 7000px) {
    .h1 {
        font-size: 2em;
        margin-top: 0.5ch;
    }
    .projects {
        margin-top: 2ch;
    }
    .project-grid {
        transform: scale(1.5);
        margin-top: calc(24vh + 2em);
    }
}
@media (min-width: 3500px) {
    .header-bar {
        font-size: 2em;
        padding-top: 2em;
        padding-right: 2em;
        padding-left: 2em;
    }
    .nav-bar a{
        margin-left: 1.5em;
    }
}
@media (min-width: 2500px) {
    .projects {
        margin-top: 2.5vw;
    }
}
@media (max-width:1200px) {
    .project-grid {
        grid-template-columns: 1fr 1fr;
        transform: scale(0.7);
    } 
}
@media (max-width:800px) {
    .project-grid {
        grid-template-columns: 1fr;
        transform: scale(0.8);
    }   
}
@media only screen and (max-width:600px) {
    .project-grid {
        grid-template-columns: 1fr;
        transform: scale(0.7);
    }   
}
@media (max-width:400px) {
    .project-grid {
        grid-template-columns: 1fr;
        transform: scale(0.6);
    }
}
@media (width: 980px) {
    .project-grid {
        margin-top: 0vh;
    }
}
