.hidden {
    opacity: 0;
    transform: translateY(70px);
    transition: 0.2s, opacity ease-in-out 0.5s, transform ease-in-out 0.5s;
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
.show {
    opacity: 1;
    transform: translateX(0);
}